Repository shiftinv/github-webhook-filter: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: deno-fmt
        name: deno-fmt
        entry: deno fmt -q
        language: system
        types_or: [javascript, jsx, ts, tsx, markdown]
      - id: deno-lint
        name: deno-lint
        entry: deno lint -q
        language: system
        types_or: [javascript, jsx, ts, tsx]
      - id: deno-check
        name: deno-check
        entry: deno check -q
        language: system
        types_or: [javascript, jsx, ts, tsx]

feat: use deno kv instead of redis now that it's reasonably stable
  README.md
  deno.lock
  deps.ts
  lib/config.ts
  lib/filter.ts
  lib/kv.ts
  lib/manager.ts
Due: deno-fmt, deno-lint, deno-check

feat: add some debug logs for kv retries
  lib/filter.ts
  lib/kv.ts
  lib/util.ts
Due: deno-fmt, deno-lint, deno-check

fix: update dockerfile
  Dockerfile
Due: none

chore(deps): use import map instead of deps.ts
  deno.json
  deno.lock
  deps.ts
  lib/crypto.ts
  lib/formatter.ts
  lib/handler.ts
  lib/util.ts
  main.ts
Due: deno-fmt, deno-lint, deno-check

chore: move files from lib/ to src/
  .dockerignore
  Dockerfile
  README.md
  src/config.ts
  src/crypto.ts
  src/filter.ts
  src/formatter.ts
  src/handler.ts
  src/kv.ts
  src/main.ts
  src/types.d.ts
  src/util.ts
  src/webhook.ts
Due: deno-fmt, deno-lint, deno-check

refactor: use hono instead of manual request handling
  deno.json
  deno.lock
  src/filter.ts
  src/handler.ts
  src/main.ts
  src/util.ts
  src/webhook.ts
Due: deno-fmt, deno-lint, deno-check

refactor: remove std/log
  deno.json
  deno.lock
  src/main.ts
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

refactor: put request logger into asynclocalstorage
  deno.lock
  src/context.ts
  src/filter.ts
  src/handler.ts
  src/main.ts
  src/util.ts
  src/webhook.ts
Due: deno-fmt, deno-lint, deno-check

feat: use context requestlog for server logs
  src/main.ts
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

feat: set x-webhook-filter-deploy on all requests
  src/main.ts
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

feat: add scripts/sign.ts
  scripts/sign.ts
Due: deno-fmt, deno-lint, deno-check

feat: support configuring kv path, persist kv data in docker
  Dockerfile
  docker-compose.yml
  src/config.ts
  src/kv.ts
Due: deno-fmt, deno-lint, deno-check

chore: update dependencies
  deno.json
  deno.lock
Due: none

chore: fix `kvPath` name
  src/config.ts
  src/kv.ts
Due: deno-fmt, deno-lint, deno-check

feat!: make wildcard params use simple regex fullmatch
  README.md
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

deps: update dockerfile to deno 2.4.5
  Dockerfile
Due: none

feat: add `allowBots` filter parameter
  README.md
  src/filter.ts
  src/handler.ts
  src/types.d.ts
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

fix(ci): update actions
  .github/workflows/ci.yaml
Due: none

feat: use `@octokit/webhooks-types`
  deno.json
  deno.lock
  src/filter.ts
  src/handler.ts
Due: deno-fmt, deno-lint, deno-check

refactor: group related modules into subpackages
  scripts/sign.ts
  src/discord/formatter.ts
  src/discord/webhook.ts
  src/filter/index.ts
  src/filter/kv.ts
  src/handler.ts
  src/main.ts
  src/server/context.ts
  src/server/crypto.ts
  src/server/index.ts
Due: deno-fmt, deno-lint, deno-check

fix: cast to WebhookEvent earlier
  src/handler.ts
  src/server/index.ts
Due: deno-fmt, deno-lint, deno-check

chore: make `fixupEmbeds` take `WebhookEvent` instead of plain record
  src/discord/formatter.ts
  src/handler.ts
Due: deno-fmt, deno-lint, deno-check

refactor: move `isGitHubEvent` to util
  src/filter/index.ts
  src/handler.ts
  src/util.ts
Due: deno-fmt, deno-lint, deno-check

docs: make readme less wacky
  README.md
Due: deno-fmt
